.submitButton {
  background-color: white !important;
}

.input_container {
  display: flex;
  padding: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_container>div {
  padding-bottom: 20px;
}