.answer_component {
  padding: 2%;
}

.answer_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}
.timer {
  padding-top: 2%;
}
.box_container {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.answer1 {
  display: flex;
  align-content: center;
}

.answer2 {
  display: flex;
  background-color: yellow;
  align-content: center;
}

.colorAnswer {
  background-color: green;
  align-content: center;
}

.heading {
  padding: 20px;
}
.question_no_container {
  color: black;
  font-size: 24px;
}

.grey {
  margin-top: 15px !important;
  width: 300px;
  background-color: #1a4172 !important;
  color: white !important;
}

.green {
  margin-top: 15px !important;
  width: 300px;
  background-color: green !important;
  color: white !important;
}

.purple {
  margin-top: 15px !important;
  border-color: #1a4172 !important;
  width: 300px;
  color: #000 !important;
}

.admin_button {
  margin-top: 30px !important;
}

.question {
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 752px) {
  .grey {
    margin-top: 15px !important;
    width: 300px;
    background-color: #1a4172 !important;
    color: white !important;
  }
  .green {
    margin-top: 15px !important;
    width: 300px;
    background-color: green !important;
    color: white !important;
  }
  .purple {
    border-color: #1a4172 !important;
    width: 300px;
    color: #000 !important;
  }
  .question_no_container {
    color: black;
    font-size: 18px;
  }
  .answer_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
  }
  .answer_component {
    padding: 10%;
  }

  .question {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
  }
}
