.answer_component {
  padding: 5%;
}

.answer_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}

.box_container {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.answer1 {
  display: flex;
  align-content: center;
}

.answer2 {
  display: flex;
  background-color: yellow;
  align-content: center;
}

.colorAnswer {
  background-color: green;
  align-content: center;
}

.heading {
  padding: 20px;
}

.grey {
  background-color: grey !important;
}

.green {
  background-color: green !important;
}

.admin_button {
  margin-top: 30px !important;
}

@media screen and (max-width: 752px) {
  .answer_container>div {
    padding: 2.5%;
  }
}