.quiz_component {
  display: flex;
  flex-wrap: nowrap;
}

.answers {
  width: 75%;
}

.result {
  width: 25%;
  border-color: #ffffff !important;
  border-left: groove;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #1a4173,
    #102747,
    #102747,
    #102747,
    #102747
  );
}

@media screen and (max-width: 752px) {
  .quiz_component {
    display: flex;
    flex-wrap: wrap;
  }
  .answers {
    width: 100%;
  }
  .result {
    width: 100%;
    border-top: double;
    border-left: none;
  }
}
