.quiz_component {
  display: flex;
  flex-wrap: nowrap;
}

.answers {
  width: 75%;
}
.main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a4173;
  border-color: #191919;
  padding: 10px;
}
.result {
  width: 25%;
  border-color: #ffffff !important;
  border-left: groove;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #1a4173,
    #102747,
    #102747,
    #102747,
    #102747
  );
}
.result_final {
  width: 100%;
  border-color: #ffffff !important;
  border-left: groove;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #1a4173,
    #102747,
    #102747,
    #102747,
    #102747
  );
}
.main_username {
  color: white;
  font-size: 16px;
  font-family: arial, sans-serif;
}
.main_category {
  color: white;
  font-family: arial, sans-serif;
  margin-right: 175px;
  font-size: 24px;
}
.main_results_container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.main_score,
.main_rank {
  font-family: arial, sans-serif;
  color: white;
}

@media screen and (max-width: 752px) {
  .quiz_component {
    display: flex;
    flex-wrap: wrap;
  }
  .answers {
    width: 100%;
  }
  .result {
    width: 100%;
  }
  .main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a4173;
  }
  .main_username {
    color: white;
    font-size: 12px;
    font-family: arial, sans-serif;
  }
  .main_category {
    color: white;
    font-family: arial, sans-serif;
    margin-right: 0px;
    font-size: 14px;
  }
  .main_results_container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .main_score,
  .main_rank {
    font-family: arial, sans-serif;
    color: white;
    font-size: 12px;
  }
  .main_username_result {
    font-size: 8px;
  }
}
