.App {}

.AppContainer {
    margin-top: 2%;
    display: flex;
    background: #3090C7 !important;
    align-items: center;
    width: 70%;
}

.parent_answer_container {
    background: white !important;
    width: 75%;
    position: relative;
    box-shadow: 0 4px 8px 1 rgb(148, 117, 117) !;
}

.result {
    width: 25%
}