.App {
}

.AppContainer {
  margin-top: 2%;
  display: flex;
  align-items: center;
  width: 70%;
}

.parent_answer_container {
  background-color: #ffffff !important;
  width: 90%;
  position: relative;
}

.result {
  width: 25%;
}

.app_heading {
  color: white;
  font-family: "gotham ssm a", "gotham ssm b", sans-serif;
}

.logo_image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80px;
}
.text_heading,
.text_heading_cor {
  color: #1a4172;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.logo_text_container {
  display: flex;
  background-color: #e2e2e2;
  justify-content: space-between;
  align-items: center;
}
.text_heading_sub {
  font-size: 15px;
}
.text_heading_sub_main {
  font-size: 45px;
}

@media screen and (max-width: 752px) {
  .logo_image {
    padding-left: 20px;
    width: 40px;
  }
  .text_heading {
    color: #1a4172;
    font-size: 10px;
    font-family: monospace;
  }
  .logo_text_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text_heading_sub {
    font-size: 7px;
  }
  .text_heading_sub_main {
    font-size: 17px;
  }
  .parent_answer_container {
    background-color: #ffffff !important;
    width: 100%;
    position: relative;
  }
  .text_heading_cor {
    color: #1a4172;
    font-size: 10px;
    padding-right: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }
}
