.App {
}

.AppContainer {
  margin-top: 2%;
  display: flex;
  align-items: center;
  width: 70%;
}

.parent_answer_container {
  background-image: linear-gradient(
    to top,
    #191919,
    #000,
    #000,
    #000,
    #000000,
    #000000,
    #000000
  );
  width: 75%;
  position: relative;
}

.result {
  width: 25%;
}

.app_heading {
  color: white;
  font-family: "gotham ssm a", "gotham ssm b", sans-serif;
}

.logo_image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
}
.text_heading {
  color: white;
  padding-left: 30px;
  font-size: 40px;
  font-family: monospace;
}
.logo_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 752px) {
  .logo_image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50px;
  }
  .text_heading {
    color: white;
    padding-left: 10px;
    font-size: 20px;
    font-family: monospace;
  }
  .logo_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
